/* Main container for work experience */
.Work-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    /* background: linear-gradient(to right, rgba(189, 187, 187, 0.8), rgba(128, 0, 0, 0.8)); */
    background: linear-gradient(to right, rgba(80, 0, 0, 0.9), rgba(128, 0, 0, 0.8)); /* Maroon to dark red gradient */
   
    min-height: 100vh;
    padding: 50px 20px;
    box-sizing: border-box;
    margin-top: -10px;
}


/* Title of the section */
.work {
    font-size: 48px;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    text-align: center;
    letter-spacing: 7px;
}

/* Row container for cards */
.work_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    flex-direction: column;
    margin-top: 100px;
}

/* Card styling */
.work_row .card {
    background-color: #ffffff;;
    padding: 30px;
    text-align: left;
    border-radius: 15px;
    height: auto;
    width: 1200px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    position: relative;
}


/* Hover effect on card */
.work_row .card:hover {
    background-color: #F5F5F5;;
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

/* Card title styling */
.work-card-title {
    font-size: 24px;
    font-weight: 600;
    color: #8B0000;
    margin-top: -10px;
}

/* Description text styling */
.work-description {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: -15px;
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
    display: none;
}

/* Position info styling */
.card .position {
    font-size: 14px;
    color: #888d8f;
    font-weight: 400;
    margin-top: 43px;
    margin-bottom: -10px;
    position: absolute;
}

.card .position .pos
{
    color: black;
    font-weight: 500;
}

.card .date
{
    font-size:14px;
    color:#888d8f;
    font-weight: 400;
    margin-bottom: -20px;
    margin-top: 8px;
}

.card .date .dat
{
    color: black;
    font-weight: 500;
}

.work-description.show
{
    display: block;
}


.toggle-btn
{
    position: absolute;
    top:10px;
    right:10px;
    font-size: 30px;
    cursor: pointer;
    color: #500000
}

.toggle-btn:hover
{
    color: #8B0000;
}


.work-card-title::after {
    content: "";
    display: block;
    width: 35px;
    height: 4px;
    background-color: #500000;
    margin-top: 10px;
}
